* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

body {
    /* background-color: rgb(26, 48, 78); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,48,78,0.86) 37%, rgba(0,212,255,1) 100%); 
    line-height: 1.3em;
}
#body {
    display: flex;
    flex-direction: row;
}

#left-side {
    display: flex;
    flex-direction: column;
    width: 12vw;
    align-items: center;
}

#nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 10vw;
    margin: 15px 1vw auto 10px;
    padding: 15px 5px 15px 30px;
    line-height: 1.6em;
    background-color: whitesmoke;
}

.nav-link {

}

#right-side {
    display: flex;
    flex-direction: row;
    width: 86vw;
}

#main-field {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 15px 15px auto 15px;
    padding: 25px 10%;
    text-align: left;
    background-color:whitesmoke;
}

#mf-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    align-content: center;
    margin-bottom: 20px;
}

#mf-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    padding-top: 25px;
    padding-bottom: 25px;
}

#mfb-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    height: 100%;
    height: 402px;
}

#mfbt-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

#mfbt-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

#mfb-bottom {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#mfbb-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#mfbb-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#comptia-logos {
    width: 75%;
}

#wd-logos {
    width: 75%;
}

a {
    text-decoration: none;
    color: rgb(49, 81, 129);
}

h1 {
    text-align: center;
    font-size: 30px;
} 

h2 {
    text-align: center;
    font-size: 25px;
}

p.img1 {
    text-align: center;
}

ul {
    padding: 5px 30px;
}

.thumbNail {
    width: 25%;
    align-self: center;
}

.thumbNail:hover {
    box-shadow: 0 0 3px 2px rgba(0, 140, 186, 0.5);
}

.project-link{
    padding-left: 100px;
}

#request {
    width: 90%;
}

#result {
    margin: 50px 150px 20px 150px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    background-color: whitesmoke;
}

.sPic {
    height: 100px;
}

#result-image {
    align-content: center;
}

@media (min-width: 501px) and (max-width: 1100px){

    #body {
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }

    #left-side {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 5vh;
        align-content: center;
    }

    #nav {
        margin: 0;
        flex-direction: row;
        width: 100%;
        height: 3vh;
        justify-content: space-evenly;
        align-items: center;
    }

    #right-side {
        display: flex;
        width: 100vw;
        align-items: center;
    }

    #main-field {
        width: 90%;
        margin: 10%;
    }
}

@media (max-width: 500px){

    #body {
        width: 100vw;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    #left-side {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 5vh;
        align-content: center;
    }

    #nav {
        margin: 0;
        padding-left: 0;
        flex-direction: row;
        width: 100%;
        height: 3vh;
        justify-content: space-around;
        align-items: center;
    }

    #right-side {
        display: flex;
        width: 100vw;
        align-items: center;
    }

    #main-field {
        width: 90%;
        margin: 10%;
    }

    .project-link {
        padding-left: 0;
    }
}