* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

body {
    /* background-color: rgb(26, 48, 78); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,48,78,0.86) 37%, rgba(0,212,255,1) 100%); 
    line-height: 1.3em;
}
#body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#left-side {
    display: flex;
    flex-direction: column;
    width: 14%;
    align-items: center;
}

#nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 8%;
    margin: 15px 10px auto 10px;
    padding: 20px;
    line-height: 1.6em;
    background-color: whitesmoke;
}

.nav-link {

}

#main-field {
    width: 70%;
    margin: 15px 15px auto 0px;
    padding: 25px 10%;
    text-align: left;
    background-color:whitesmoke;
}

a {
    text-decoration: none;
    color: rgb(49, 81, 129);
}

h1 {
    text-align: center;
    font-size: 30px;
} 

h2 {
    text-align: center;
    font-size: 25px;
}

p.img, p.img1 {
    text-align: center;
}

ul {
    padding: 5px 30px;
}

.thumbNail:hover {
    box-shadow: 0 0 3px 2px rgba(0, 140, 186, 0.5);
}

.project-link{
    padding-left: 100px;
}

#request {
    width: 90%;
}

#result {
    margin: 50px 150px 20px 150px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    background-color: whitesmoke;
}

.sPic {
    height: 100px;
}

#result-image {
    align-content: center;
}

@media (min-width: 415px) and (max-width: 1000px){
    * {
        padding: 0;
        margin: 0;
    }

}

@media (max-width: 414px){
    * {
        padding: 0;
        margin: 0;
    }
    #body {
        display: flex;
        flex-direction: column;
        /* width: 100vw; */
        align-items: center;
    }

    #nav {
        width: 90vw;
        height: 10%;
        text-align: center;
        background-color: whitesmoke;
    }

    #main {
        width: 90vw;
    }
}